<ion-header>

  <ion-navbar>
    <ion-title>
          <ion-searchbar name="search" [(ngModel)]="search" (change)="onChange()"></ion-searchbar>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

    
    <p>Querys For "{{search}}"</p><hr>
    <ion-list *ngFor="let qus of questions" no-padding>
        <ion-item>
          <h2>{{qus.title}}</h2>
          <p>Helpful || Comments</p>
        </ion-item>
    </ion-list>

    <p>Profiles For "{{search}}"</p><hr>
    <ion-list *ngFor="let pro of profiles" no-padding>
        <ion-item>
          <ion-avatar item-start>
            <img src="../../assets/imgs/avatar-3.png" alt="image">
          </ion-avatar>
          <h2>{{pro.name}}</h2>
          <p>{{pro.bio}}</p>
          <ion-note item-end>
            <button ion-button (click)="goToProfile()">
              View-Profile
            </button>
          </ion-note>
        </ion-item>
    </ion-list>

</ion-content>

