page-answer{
    ion-item h2{
        padding: 5px 0;
        padding-right: 5px;
    }

    .card-header-md {
        padding-bottom: 5px !important;
    }

    .button-md{
        font-weight: 900 !important;
    }
}